html {
    background-color: whitesmoke;
    color: blue;
    font-family: 'Monda', sans-serif;
    margin: 15px 50px;
}

.dropBox {
    width: 200px;
    height: 1.75em;
    font-size: x-large;
    background-color: blue;
    color: whitesmoke;

}

#checkbox {
    display: flex;
    align-items:center;
}

#pCheckbox {
    padding-left: 10px;
    font-size: 1.75em;
}

#fail {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#pass {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#date {
    font-weight: bolder;
}

#iAttest {
    width: 75px;
    height: 75px;
}
