html {
    background-color: whitesmoke;
    color: blue;
}

#checkbox {
    display: flex;
    align-items:center;
}

#pCheckbox {
    padding-left: 10px;
}

#fail {
    max-width: 50%;
}

#pass {
    max-width: 50%;
}

#iPass {
    visibility: hidden;
}

#iFail {
    visibility: hidden;
}

#date {
    font-weight: bolder;
}
